body {
  font-family: monospace;
  padding: 10px;
}

pre.json {
  white-space: pre;
  line-height: 1.4;
}

/* Structure */
.brace {
  color: #ffd700;
}

.bracket {
  color: #da70d6;
}

.colon {
  color: #d4d4d4;
}

/* Keys & values */
.key {
  color: #9cdcfe;
}

.string {
  color: #ce9178;
}

.number {
  color: #b5cea8;
}

.boolean {
  color: #569cd6;
}

.null {
  color: #569cd6;
  font-style: italic;
}

/* Fallback */
.unknown {
  color: #d7ba7d;
}

/* Toolbar */
.toolbar {
  margin-bottom: 10px;
}

.header h1 {
  margin: 0;
  font-size: 1.6em;
}

.header p {
  margin: 4px 0 12px 0;
  color: #bbbbbb;
}

.toolbar {
  margin-bottom: 10px;
}

button.danger {
  background-color: #c74e39;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button.danger:hover {
  background-color: #e05a47;
}

hr {
  border: none;
  border-top: 1px solid #444;
  margin: 12px 0;
}
